* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userIcon {
  width: 120px;
  margin-bottom: 20px;
}

.userDetails {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px;
  margin: 0 5px;
  background-color: rgb(255, 64, 0);
  color: white;
  border: none;
  border-radius: 5px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.website {
  color: blue;
}